
body {
margin: 0;
font-family: Arial, sans-serif;
overflow-x: hidden;
}

/* CABEÇALHO E RODAPÉ GERAL */
header, footer {
width: 100vw; /* Define a largura como a largura total da janela do navegador */
box-sizing: border-box; /* Inclui padding e border na largura total */
}

header {
background-color: #333;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1;
position: fixed;
top: 0;
left: 0;
right: 0;
}

.logo {
display: flex;
align-items: center;
z-index: 2;
}

.logo a i {
font-size: 24px;
color: white;
margin-right: 10px;
}

.logo a i.fab.fa-whatsapp {
font-size: 24px;
color: white;
margin-right: 10px;
}

.nome {
font-size: 24px;
color: white;
margin-right: 10px;
}

nav {
display: flex;
z-index: 2;
}

nav a {
color: #ffffff;
text-decoration: none;
margin: 0 15px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    }
    
    footer a {
    color: white;
    margin: 0 8px;
    text-decoration: none;
    }
    
    .footer-left, .footer-right {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 8px;
    }
    
    .footer-left span, .footer-right span {
    margin: 0 8px;
    white-space: nowrap;
    }
    
    .footer-icons a i {
    font-size: 0.9em; /* Tamanho dos ícones */
    color: white;
    margin: 0 8px;
    flex-shrink: 0;
    }
/* ------------------------------------- */

/* PÁGINA INICIAL */

.foto-container {
  width: 50%;
  float: left;
  box-sizing: border-box;
  background-color: #007bff;
  justify-content: center; /* Centraliza os itens no eixo principal (horizontal) */
  align-items: center; /* Centraliza os itens no eixo transversal (vertical) */
  flex: 1;
  display: flex;
}

.foto-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;

}

.cta-container {
  width: 50%;
  float: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  padding: 20px; /* Adicionado preenchimento para uma aparência mais limpa */
  background-color: #007bff;
  flex: 1;
}

.cta-text {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #007bff;
}

.cta-video {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
}

.cta {
  background-color: #007bff;
  padding: 0;
  display: flex;
  align-items: stretch;
}
    
.cta h1 {
font-size: 3.0em;
font-weight: bold;
color: #ffffff;
background-color: #007bff;
}

.botao-cta {
  display: inline-block;
  padding: 10px 20px;
  width: 440px;
  background-color: #4caf50; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px #388e3c; /* Sombra para efeito 3D */
  transition: all 0.3s ease; /* Transição suave para o hover */
}

.botao-cta:hover {
  background-color: #003a03; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 2px #002102; /* Sombra ao passar o mouse */
  transform: translateY(2px); /* Efeito de pressionamento */
}

/* REFERÊNCIAS */

.carousel, .superProf {
width: 50%;
box-sizing: border-box;
justify-content: center; /* Centraliza os itens no eixo principal (horizontal) */
align-items: center; /* Centraliza os itens no eixo transversal (vertical) */
flex: 1;
display: flex;
flex-direction: column;
text-align: center;
}

.carousel {
  float: left;
}

.superProf {
  float: right;
}

.carousel img {
max-width: 150%;
margin-bottom: 30px;
}

.carousel-slide {
display: flex;
justify-content: center;
align-items: center;
}

.carousel-text h1 {
color: #007bff; /* Cor do texto */
text-align: center;
font-weight: bold;
font-size: 3.0em;
}

.superProf img {
  margin-top: 20px;
  max-width: 65%;
  margin-bottom: 20px;
}

.botao-super {
  display: inline-block;
  padding: 10px 20px;
  width: 330px;
  background-color: #007bff; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px #0053ac; /* Sombra para efeito 3D */
  transition: all 0.3s ease; /* Transição suave para o hover */
  margin-top: 10px;
  margin-bottom: 20px;
}

.botao-super:hover {
  background-color: #0053ac; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 2px #003a79; /* Sombra ao passar o mouse */
  transform: translateY(2px); /* Efeito de pressionamento */
}
/* --------------------------------------- */


/* SEÇÃO SOBRE MIM */

.sobre-mim-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #ffffff;
    padding: 20 px;
    background-size: cover;
    margin-left: 0;
  }
  
  .sobre-imagem {
    flex: 0 1 40%;  /* Cada um ocupa metade do espaço */
  }

  .sobre-texto {
    flex: 1;
    max-width: 600 px;
    padding: 10px 30px 10px 10px;
    margin: 0 20px 0 0;
  }
  
  .sobre-imagem img {
    max-width: 100%;  /* Faz a imagem se ajustar à sua div */
    height: auto;  /* Mantém a proporção da imagem */
  }

  .sobre-texto h1 {
    font-size: 5em;
  }

  .sobre-texto p {
    font-size: 1.2em; /* Tamanho confortável para a leitura */
    line-height: 1.4; /* Espaçamento entre linhas */
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .sobre-mim-container {
      flex-direction: column;
    }
  }
  
/* --------------------------------------- */

/* SEÇÃO CARREIRA */ 

.carreira {
    background: url('imagens/carreira/visao-holistica.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0; /* Remove margens adicionais */
    width: 100%; /* Garante que ocupa toda a largura */
    text-align: center;
    padding: 20px;
}

.carreira-text {
    color: #ffffff; /* Cor do texto */
    padding: 20px 40px 20px 20px;
    margin: 20px 40px 20px 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
}

.carreira-text h1, .carreira-text p {
    -webkit-text-stroke: 1px black; /* Contorno preto fino para o texto */
}

.carreira-text h1 {
    font-size: 5em; /* Tamanho grande para o título */
}

.carreira-text p {
    font-size: 1.2em; /* Tamanho confortável para a leitura */
    line-height: 1.4; /* Espaçamento entre linhas */
    background-color: rgba(0, 0, 0, 0.75); /* Preto com 50% de transparência */
}


.botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px; /* Espaçamento entre os botões */
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px #0056b3; /* Sombra para efeito 3D */
    transition: all 0.3s ease; /* Transição suave para o hover */
}
  
  .botao:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 2px #003366; /* Sombra ao passar o mouse */
    transform: translateY(2px); /* Efeito de pressionamento */
}

/* ------------------------------------------------- */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  /* Cabeçalho */
  .logo, .nome {
      display: none; /* Oculta os elementos no cabeçalho */
  }

  .hamburger-menu {
      display: block; /* Mostra o botão hambúrguer */
      cursor: pointer;
  }

  nav {
      display: none; /* Oculta a navegação por padrão */
      flex-direction: column; /* Organiza os links da navegação verticalmente */
  }

  nav.active {
      display: flex; /* Mostra a navegação quando o botão hambúrguer é ativado */
  }

  /* Rodapé */
  .footer-left, .footer-right {
      display: none; /* Oculta elementos no rodapé */
  }

  .footer-icons {
      justify-content: center; /* Centraliza os ícones no rodapé */
      width: 100%; /* Ocupa a largura total do rodapé */
  }
}




  